<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Game Dark Disquite</title>
    <link rel="icon" href="/images/dottrungtu.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/index/bootstrap.min.css" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="/stylesheets/index/animate.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/index/owl.carousel.min.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/index/all.css" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/index/flaticon.css" />
    <link rel="stylesheet" href="/stylesheets/index/themify-icons.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/index/magnific-popup.css" />
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/stylesheets/index/slick.css" />
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/index/style.css" />
  </head>

  <body>
    <div class="body_bg">
      <!--::header part start::-->
      <header class="main_menu single_page_menu">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                  <img
                    src="/images/dottrungtu.png"
                    height="100"
                    width="100"
                    alt="logo"
                  />
                </a>

                <div
                  class="collapse navbar-collapse main-menu-item"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown">
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      ></div>
                    </li>
                    <li class="nav-item dropdown">
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown1"
                      ></div>
                    </li>
                    <li class="nav-item"></li>
                  </ul>
                </div>
                <a href="#download-game" class="btn_1 d-none d-sm-block">Tải xuống</a>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- Header part end-->

      <!-- banner part start-->
      <section class="banner_part">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-8">
              <div class="banner_text">
                <div class="banner_text_iner">
                  <h1>Game Dark Disquite</h1>
                  <p>
                    Tựa game kinh dị độc đáo đến từ DOT Team, hứa hẹn sẽ mang
                    đến cảm giác mới lạ cho bạn, và nếu bạn là một tín đồ cuồng
                    game kinh dị thì còn chần chờ gì nữa hãy bắt đầu nó và trải
                    nghiệm ngay hôm nay!
                  </p>
                  <a href="#video-youtube" class="btn_1">Xem Demo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner part start-->

      <!--::client logo part end::-->
      <section class="client_logo">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div
                class="client_logo_slider owl-carousel d-flex justify-content-between"
              >
                <div class="single_client_logo"></div>
                <div class="single_client_logo">
                  <img src="/images/logo-fpt-polytechnic.png" alt="" />
                </div>

                <div class="single_client_logo"></div>
                <div class="single_client_logo"></div>
                <div class="single_client_logo">
                  <img src="/images/dottrungtu.png" alt="" />
                </div>
                <div class="single_client_logo"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--::client logo part end::-->
      <section class="gallery_part section_padding">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5">
              <div class="section_tittle text-center">
                <h2>Giới thiệu game</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="gallery_part_item">
                <div class="section_tittle">
                  <h2>Mô tả chi tiết</h2>
                </div>
                <h5>
                  Dark Disquite - Cuộc chiến sinh tử giữa đặc vụ và xác sống
                </h5>
                <h5>
                  Trong Dark Disquite, bạn sẽ hoá thân thành một đặc vụ bí mật,
                  nhận nhiệm vụ xâm nhập vào một căn cứ nghiên cứu điều chế vũ
                  khí sinh học nguy hiểm. Tại đây, một loại virus chết người đã
                  thoát ra khỏi phòng thí nghiệm và biến tất cả các nhà khoa học
                  thành những xác sống khát máu.
                </h5>
                <h5>
                  Với vũ khí và trang bị hạn chế, bạn phải lặn lội qua những
                  hành lang tối tăm rợn người, khám phá từng góc khuất để tìm
                  kiếm manh mối, đồng thời chiến đấu quyết liệt với hàng trăm
                  zombie hung dữ trên mọi lối đi. Mục tiêu cuối cùng là tìm ra
                  mẫu virus để mang ra khỏi đây.
                </h5>
                <h5>
                  Bên cạnh chế độ chiến dịch ly kỳ với nhiều nhiệm vụ thử thách,
                  Dark Disquite còn có chế độ sinh tồn đầy căng thẳng khi bạn
                  phải chiến đấu đến viên đạn cuối cùng giữa hàng trăm xác sống
                  đói khát.
                </h5>
                <h5>
                  Liệu bạn có đủ bình tĩnh, kỹ năng và may mắn để sống sót qua
                  cơn ác mộng zombie kinh hoàng này? Hãy tải ngay Dark Disquite
                  để trải nghiệm!
                </h5>
                <div class="section_tittle"></div>
                <div class="section_tittle">
                  <h2>Ý tưởng game</h2>
                </div>
                <h5>
                  Với kinh nghiệm thành công từ loạt game ăn khách Resident
                  Evil, Dark Disquite kế thừa tinh thần chiến đấu sinh tử đầy
                  căng thẳng đối đầu với xác sống từ thương hiệu này. Tương tự
                  như Resident Evil, người chơi sẽ bước vào vai một đặc vụ thâm
                  nhập vào căn cứ nghiên cứu bí mật, nơi một thảm họa khủng
                  khiếp đã xảy ra.
                </h5>
                <h5>
                  Tuy nhiên, thay vì lấy bối cảnh là dinh thự ma ám hay thị trấn
                  bị nhiễm virus như Resident Evil, Dark Disquite đưa người chơi
                  đến một cơ sở nghiên cứu vũ khí sinh học hoang tàn, nơi virus
                  chết người đã biến toàn bộ các nhà khoa học và nhân viên tại
                  đây thành những sinh vật khát máu.
                </h5>
                <h5>
                  Với ý tưởng độc đáo và khác biệt này, Dark Disquite hứa hẹn sẽ
                  mang đến cho người chơi Việt Nam một trải nghiệm chưa từng có
                  nhưng vẫn đậm chất Resident Evil!
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- gallery_part part end-->
      <!-- about_us part start-->
      <section id="download-game" class="about_us section_padding">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md-5 col-lg-6 col-xl-6">
              <div class="learning_img">
                <img src="/images/logogame.jpg" alt="" />
              </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
              <div class="about_us_text">
                <h2>Game Dark Disquite</h2>
                <p>Hãy trải nghiệm ngay</p>
                <a href="#" class="btn_1">Tải Xuống&nbsp;🪟</a>
                <a href="#video-youtube" class="btn_1">Xem Demo &nbsp;📺</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about_us part end-->

      <!--::about_us part start::-->
      <!--::about_us part end::-->

      <!-- use sasu part end-->
      <section id="video-youtube" class="Latest_War">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div  class="section_tittle text-center">
                <h2>Video Demo Game</h2>
              </div>
            </div>
          </div>
          <div  class="row justify-content-center align-items-center">
            <iframe
              width="990"
              height="650"
              src="https://www.youtube.com/embed/x9A49MD8cYo?si=jbOLkDLQqZRlq7ba"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            `;
          </div>
        </div>
        <div style="margin-bottom: 100px"></div>
      </section>
      <!-- use sasu part end-->

      <!-- gallery_part part start-->

      <!-- use sasu part end-->

      <!-- pricing part start-->
      <section class="pricing_part padding_top">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section_tittle text-center">
                <h2>Thành Viên Dot Team</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
              <div class="single_pricing_part">
                <p>Member</p>
                <img src="/images/avtmember/avtphong1.jpg" alt="" />
                <p>Developer</p>
                <p>Gameplay Developer, Design Map 1</p>
                <p>Trần Vũ Phong</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single_pricing_part">
                <p>Member</p>
                <img src="/images/avtmember/avtduy.jpg" alt="" />
                <p>Developer</p>
                <p>Monster Designer, Assist UI design</p>
                <p>Trần Anh Duy</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single_pricing_part">
                <p>Member</p>
                <img src="/images/avtmember/avthuan.jpg" alt="" />
                <p>Developer</p>
                <p>Character System Programmer, Design map 2</p>
                <p>Nguyễn Trọng Huân</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single_pricing_part">
                <p>Member</p>
                <img src="/images/avtmember/avttri.jpg" alt="" />
                <p>Developer</p>
                <p>UI/UX Designer</p>
                <p>Nguyễn Minh Trí</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single_pricing_part">
                <p>Leader</p>
                <img src="/images/avtmember/avt.jpg" alt="" />
                <p>Developer</p>
                <p>Backend Programmer Project Manager</p>
                <p>Nguyễn Thành An</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- pricing part end-->
      //card
      <section class="pricing_part padding_top">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section_tittle text-center">
                <h2>Ủng hộ chúng mình</h2>
              </div>
            </div>
          </div>
          <div class="upcomming_war_iner">
            <div class="row justify-content-center align-items-center h-100">
              <div class="card-donate">
                <img src="/images/card.png" alt="" />
                <p>Ngân Hàng MB Bank</p>
              </div>
              <div class="card-donate zalopay">
                <img src="/images/zalopay.png" alt="" />
                <p>Ví Zalo Pay</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- use sasu part end-->
      <div style="margin-bottom: 100px"></div>

      <section class="upcomming_war">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section_tittle text-center">
                <h2>Lịch sử ủng hộ</h2>
              </div>
            </div>
          </div>
          <div class="upcomming_war_iner">
            <div class="row justify-content-center align-items-center">

                <table>
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>  
                        <th>Số tiền</th>
                        <th>Phương thức</th>
                        <th>Thời gian</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Nguyễn Thành An</td>
                        <td>100,000 đ</td>  
                        <td>Ngân hàng</td>
                        <td>Hôm qua</td> 
                      </tr>
                        <tr>
                            <td>2</td>
                            <td>Nguyễn Trọng Huân</td>
                            <td>100,000 đ</td>  
                            <td>ZaloPay</td>
                            <td>Hôm qua</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Nguyễn Thành An</td>
                            <td>100,000 đ</td>  
                            <td>Ngân hàng</td>
                            <td>Hôm qua</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </section>
      <!-- use sasu part end-->
      <!--::footer_part start::-->
      <footer class="footer_part">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                  <a href="index.html" class="footer_logo_iner">
                    <img src="/images/dot.png" width="100" height="100" alt="#" />
                  </a>
                  <p>
                    Dot Team Bùng Cháy Đam Mê
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                  <h4>Liên Hệ</h4>
                  <p>
                    Địa chỉ : Tòa nhà QTSC9 (toà T), đường Tô Ký, phường Tân Chánh Hiệp, quận 12, TP HCM. 778/B1 Nguyễn Kiệm, phường 04, quận Phú Nhuận, TP HCM
                  </p>
                  <p>Điện thoại : +84 961621003</p>
                  <p>Email : iamdemon.dev@gmail.com</p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                  <h4>Facebook Thành Viên </h4>
                  <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/thanhan.demon26">Thành An - Leader</a></li>
                    <li><a href="">Trọng Huân - Member</a></li>
                    <li><a href="">Anh Duy - Member</a></li>
                    <li><a href="">Vũ Phong - Member</a></li>
                    <li><a href="">Minh Trí - Member</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                  <h4>Cảm Ơn</h4>
                  <p>
                    Cảm ơn bạn đã ghé thăm trang web của nhóm mình!
                  </p>
                  <div id="mc_embed_signup">
                    <form
                      target="_blank"
                      action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                      method="get"
                      class="subscribe_form relative mail_part"
                    >
                      <input
                        type="email"
                        name="email"
                        id="newsletter-form-email"
                        placeholder="Email Address"
                        class="placeholder hide-on-focus"
                        onfocus="this.placeholder = ''"
                        onblur="this.placeholder = ' Email Address '"
                      />
                      <button
                        type="submit"
                        name="submit"
                        id="newsletter-submit"
                        class="email_icon newsletter-submit button-contactForm"
                      >
                        <i class="far fa-paper-plane"></i>
                      </button>
                      <div class="mt-10 info"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copygight_text">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <div class="copyright_text">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All belongs to Doteam | I
                    <i class="ti-heart" aria-hidden="true"></i> by
                    <a href="#" target="_blank">Dot Studio</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="footer_icon social_icon">
                  <ul class="list-unstyled">
                    <li>
                      <a href="" class="single_social_icon"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                    </li>
                    <li>
                      <a href="" class="single_social_icon"
                        ><i class="fab fa-twitter"></i
                      ></a>
                    </li>
                    <li>
                      <a href="" class="single_social_icon"
                        ><i class="fas fa-globe"></i
                      ></a>
                    </li>
                    <li>
                      <a href="" class="single_social_icon"
                        ><i class="fab fa-behance"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--::footer_part end::-->
    </div>

    <!-- jquery plugins here-->
    <script src="/javascripts/index/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/javascripts/index/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/javascripts/index/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/javascripts/index/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/javascripts/index/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/javascripts/index/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/javascripts/index/owl.carousel.min.js"></script>
    <script src="/javascripts/index/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/javascripts/index/slick.min.js"></script>
    <script src="/javascripts/index/jquery.counterup.min.js"></script>
    <script src="/javascripts/index/waypoints.min.js"></script>
    <script src="/javascripts/index/contact.js"></script>
    <script src="/javascripts/index/jquery.ajaxchimp.min.js"></script>
    <script src="/javascripts/index/jquery.form.js"></script>
    <script src="/javascripts/index/jquery.validate.min.js"></script>
    <script src="/javascripts/index/mail-script.js"></script>
    <!-- custom js -->
    <script src="/javascripts/index/custom.js"></script>
  </body>
</html>
