<html>
  <head>
    <title>Đăng nhập thành công</title>

    <style>
      body { text-align: center; margin-top: 50px; font-family: "Open Sans",
      sans-serif; justify-content: center; align-items: center; margin-top: 10%;
      background-color: black; } img { width: 150px; } h1 { font-size: 30px;
      color: aliceblue; } p { font-size: 18px; color: aliceblue; }
    </style>

  </head>

  <body>

    <img src="/images/logogame.jpg" alt="Game Logo" />

    <h1>Đăng nhập thành công!</h1>

    <p>Hãy quay lại game để tiếp tục trải nghiệm nhé!</p>

  </body>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/javascripts/loginsucces.js"></script>

</html>