<html lang="en">
  <head>
    <title>Login Payment</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
    <div class="gameContainer">
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">DOT STUDIO</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <img src="/images/vt.jpg" width="40" height="40" alt="" />
              </div>
              <h3 class="text-center mb-4">Đăng Nhập Game Dark Disquite</h3>
              <form action="#" class="login-form">
                <div class="form-group text-center">
                  <div class="btn-google" id="btnGoogle" type="button">
                    <span class="fa fa-google"></span>Đăng Nhập Bằng Google
                    </div>
                </div>
                <div class="form-group text-center">
                  <div
                    class="discord-login-btn"
                  >
                    <a
                      id="logindiscord"
                      href="https://discord.com/api/oauth2/authorize?client_id=1171682757185900625&redirect_uri=http%3A%2F%2Fdotstudio.andemongame.tech%2Flogingamesuccess&response_type=token&scope=identify"
                    >
                      <span>Đăng Nhập Bằng Discord</span>
                    </a>
                  </div>
                </div>
                <p class="er">* Xin vui lòng không thoát trang khi đăng nhập, để tránh bị lỗi!</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    </script>
    <script src="/javascripts/UnityLoader.js"></script>
    <script>
    window.onload = function () {
      const stt = {{stt}}
      localStorage.setItem("stt", stt);
      console.log(stt);
    }

      {{!-- window.gameInstance = UnityLoader.instantiate(
        "gameContainer",
        "/game/Build/DarkDisquite.json",
        { onProgress: UnityProgress }
      ); --}}
    </script>
    <script type="module" src="/javascripts/logingame.js"></script>
  </body>
</html>