<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Payment</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">DOT STUDIO</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <img src="/images/vt.jpg" width="40" height="40" alt="" />
              </div>
              <h3 class="text-center mb-4">Đăng Nhập Game Dark Disquite</h3>
              <form action="#" class="login-form">
                <div class="form-group">
                  <div
                  class="fb-login-button"
                  data-width="350"         
                  data-size="large"      
                  data-button-type="login_with" 
                  data-layout="rounded"    
                  data-auto-logout-link="false"
                  data-use-continue-as="false"
                ></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    //================================javascripts========================================//
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
